.country-card {
    width: 300px;
    height: 400px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 50px;
    float: left;
}

button a {
    text-decoration: none;
    color: black;
}

mat-card img {
    width: 100% + 40px;
    height: 250px;
}

button:hover {
    text-decoration: none;
    color: black;
    font-size: 1em;
    -webkit-transition: font-size 0.8s;   /*Safari*/
    -moz-transition: font-size 0.8s;      /*MozillaFirefox*/
    -o-transition: font-size 0.8s;        /*Opera*/
    transition: font-size 0.8s;           /*Chrome & Others*/
}